* {
    box-sizing: border-box;
}
.font {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
}

.headcontent {
    text-align: center;
    padding: 20px;
    background-color: #c9cbcc;
    border-radius: 15px;
    width: 90%;
    margin: 5%;
}

/* For automatic product display */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    background-color: #f7f7f7;
    border-radius: 8px;
    width: 90%;
    margin: 5%;
}

.product {
    width: 45%;
    margin: 2%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
}

.product img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    height: 500px;
    border: 2px solid black;
}

/* .product img:hover {
    z-index: 1;
    box-shadow: 0px 8px 8px 0px;
    color: black;
    position: fixed;
    top: 50px;
    left: 50px;
    width: 950px;
    height: auto;
} */

.product-info {
    flex-grow: 1;
}
/* End */

.footer {
    font-size: large;
    text-align: left;
    width: 90%;
    margin: 5%;
    margin-top: 0px;
    padding: 30px;
    background-color: #c9cbcc;
    border-radius: 15px;
}

.footcard a {
    font-size: larger;
    text-decoration: none;
    color: #8a7569;
}

.footcard a:hover {
    font-size: xx-large;
    cursor: pointer;
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}